body {
    background-color: rgb(44, 44, 44);
    height: 900px;
}

.slider-container {
    max-width: 80%;
    height: 65%;
    margin: 0 auto;
    padding-top: 50px;
}

.slider {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.slider-image {
    display: none;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;
}

.slider-image_active {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.bottom-part {
    height: 10%;
    display: flex;
    margin-top: 50px;
    padding-bottom: 50px;
}

.header-block {
    width: 70%;
}

.header {
    display: none;
    font-size: 1.2em;
    margin: 0;
    color: #fff;
    font-weight: 200;
    font-family: Roboto, sans-serif;
    transition: 0.5s all;
}

.header_active {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.nav-section {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.nav-block {
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s all;
    padding-bottom: 8px;
}

.circle {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: rgb(110, 141, 243);
    transition: 0.5s all;
}

.nav-item:hover .circle {
    background-color: #fff;
}

.nav-item_active .circle {
    background-color: transparent;
    border: 1px solid rgb(110, 141, 243);
}

.nav-item_active:hover .circle {
    background-color: transparent;
    border: 1px solid #fff;
}


@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}




@media screen and (max-width: 768px) {
    body {
        height: 600px;
    }

    .slider-container {
        height: 60%;
    }

    .bottom-part {
        flex-direction: column-reverse;
        height: 40%;
        margin: 0;
        padding: 20px 0 0 0;
    }

    .header-block {
        width: 100%;
        height: 40%;
    }

    .nav-section {
        width: 100%;
        height: 100px;
        justify-content: center;
    }

    .nav-block {
        width: 200px;
        height: 50px;
    }
}
    
